.loading {
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  height: 100%;
  z-index: 100;
  font-size: 32px;
  position: fixed;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);

  &-holder {
    margin-top: 20%;
  }

  .fa {
    img {
      width: 50px;
    }
  }
}