.SinglePostView {
    h3 {
        text-transform: uppercase;
        letter-spacing: 10px;
        font-size: 1.8rem;
    }

    h5 {
        font-size: 1rem;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    p {
        font-size: 1rem;
    }

    a {
        font-size: 1.4rem;
    }
}
